[submodule "ZLToolKit"]
	path = 3rdpart/ZLToolKit
	url = https://gitee.com/xiahcu/ZLToolKit
[submodule "3rdpart/media-server"]
	path = 3rdpart/media-server
	url = https://gitee.com/xiahcu/media-server
[submodule "3rdpart/redis-plus-plus"]
	path = 3rdpart/redis-plus-plus
	url = https://github.com/oujiangping/redis-plus-plus.git
